<div class="container">
    <div class="row justify-content-center">
        <h3 class="display-4 col-12">Admin</h3>
        @Html.ActionLink("Manage Articles", "Manage", "Articles", null, new { @class = "btn btn-dark mb-3 col-12" })
        @Html.ActionLink("Manage Demos", "Manage", "Demos", null, new { @class = "btn btn-dark mb-3 col-12" })
        @Html.ActionLink("Manage Email Recipients", "Manage", "EmailRecipients", null, new { @class = "btn btn-dark mb-3 col-12" })
        @Html.ActionLink("Manage Smtp Host", "Modify", "Smtp", null, new { @class = "btn btn-dark mb-3 col-12" })
    </div>
</div>